.inicio-container {
  text-align: center;
    background-image: url('/assets/imagenApp4.webp');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 100vh;
    color: rgb(2, 2, 2);
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  
  h1 {
    color: #000000;
    margin-bottom: 0.5em;
  }
  
  .search-box {
    margin-top: 20px;
  }
  
  .search-input {
    padding: 10px;
    border: 2px solid #007bff;
    border-radius: 5px 0 0 5px;
    outline: none;
    height: 40px;
    width: 100%; /* Asegúrate de que el input sea responsive */
    box-sizing: border-box; /* Incluye el padding y el borde en el ancho del elemento */
  }
  
  .search-button {
    padding: 10px 20px;
    border: none;
    background-color: #000000;
    color: rgb(0, 0, 0);
    border-radius: 0 5px 5px 0;
    cursor: pointer;
    height: 44px;
  }
  
  .search-button:hover {
    background-color: #0056b3;
  }
  
  /* Media queries para diferentes tamaños de pantalla */
  @media (max-width: 768px) {
    .search-input,
    .search-button {
      font-size: 0.9rem;
    }
  
    .search-button {
      padding: 10px 15px;
    }
  }
  
  @media (max-width: 576px) {
    .search-box {
      flex-direction: column;
    }
  

  }

  h1, p {
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
  }
  .text-background {
  background-color: rgba(255, 255, 255, 0.5); /* Ajusta la opacidad según sea necesario */
  display: inline;
  padding: 0.5em;
}
h1 {
  font-weight: bold;
  font-size: 2.5rem;
}

p {
  font-weight: bold;
  font-size: 1.5rem;
}
h1, p {
  color: #ffffff; /* O cualquier otro color que contraste bien con tu imagen de fondo */
}
