<div class="about-container">
    <h1>Acerca de CountryApp</h1>
    <div class="creator-info">
      <h2>Nuestro Fundador</h2>
      <p>Miguel Ángel Cobo Pérez, apasionado de la tecnología y la innovación, fundó CountryApp durante su segundo año en el programa de Desarrollo de Aplicaciones Web (DAW2). Su visión era simplificar la búsqueda de información de países a través de una interfaz intuitiva y accesible.</p>
    </div>
    <div class="team-section">
      <h2>Nuestro Equipo</h2>
      <p>Detrás de CountryApp hay un equipo dedicado de desarrolladores, diseñadores y especialistas en contenido que trabajan incansablemente para proporcionar la mejor experiencia a nuestros usuarios. Desde expertos en bases de datos hasta artistas gráficos, cada miembro aporta su habilidad única para hacer de CountryApp el líder en búsqueda de información sobre países.</p>
    </div>
  </div>
  